
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    vertical-align : middle;
    text-align : center;
}
.error{
    display : block;
    color:#a94442;
}
.fr-basic .fr-element{
    min-height: 300px !important;
}

.select2-container{
    width :100% !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #e5e5e5 ;
    height: 37px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#logo_td{
    position: relative;
}
#change_logo{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(14, 18, 22, 0.12);
}
#change_logo button{
    margin-top:5%;
}
.ico-picedit-camera{
    display: none !important;
}